$text-colour: #3d3d3d;
$bg-colour: #f7f7f7;
$highlight-colour: rgba(255, 233, 0, 0.8);
$highlight-colour-darkmode: rgba(238, 199, 37, 0.7);

html {
	box-sizing: border-box;
	height: 1500px; //Testing purposes - Remove after use.
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Body & Dark mode styles */

body {
	margin: 0;
	padding: 0;
	color: $text-colour;
	fill: $text-colour;
	background-color: $bg-colour;
	transition: all 0.5s ease;
}

body.dark {
	background-color: rgb(19, 19, 19);
	color: #fff;
	fill: #fff;

	.darkmode__moon {
		display: none;
	}

	.darkmode__sun {
		display: inherit;
		height: 100%;
	}

	.nav__item {
		background-image: linear-gradient(
			to right,
			transparent 50%,
			$highlight-colour-darkmode 50%
		);
	}

	.main-title__info--highlighted {
		background-color: $highlight-colour-darkmode;
	}
}

.darkmode {
	position: absolute;
	height: 20px;
	margin: 22px 24px;
	display: inline-block;
	cursor: pointer;

	.darkmode__moon {
		height: 100%;
		fill: inherit;
	}

	.darkmode__sun {
		display: none;
	}

	-webkit-animation: 5s ease 0s normal forwards 1 fadein;
	animation: 5s ease 0s normal forwards 1 fadein;

	@keyframes fadein {
		0% {
			opacity: 0;
		}
		66% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes fadein {
		0% {
			opacity: 0;
		}
		66% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

.nav--bg.dark {
	background: #323639;
	box-shadow: 0 1px 3px -0 rgba(255, 255, 255, 0.1),
		0 1px 2px 0 rgba(255, 255, 255, 0.06);

	&:hover {
		box-shadow: 0 6px 8px -2px rgba(255, 255, 255, 0.1),
			0 2px 4px -1px rgba(255, 255, 255, 0.06);
	}

	input {
		background-color: #282c2f;
		color: white;
	}

	a {
		color: white;
	}
}

/* Poor support 
@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(19, 19, 19);
		color: #fff;
		fill: #fff;
	}
}
@media (prefers-color-scheme: light) {
	body {
		color: $text-colour;
		fill: $text-colour;
		background-color: $bg-colour;
	}
}
*/

.horizontal-rule {
	text-align: center;

	span {
		height: 12px;
		width: 12px;
		margin: 0 2px;
		border-radius: 50%;
		display: inline-block;
		animation: jumpingDots 4.4s linear infinite;
	}

	@keyframes jumpingDots {
		20%,
		40%,
		100% {
			transform: translateY(0);
		}

		30% {
			transform: translateY(-20px);
		}
	}

	.red {
		background-color: #ed594a;
	}

	.yellow {
		background-color: #fdd800;
		animation-delay: 0.4s;
	}

	.green {
		background-color: #5ac05a;
		animation-delay: 0.8s;
	}
}

/* Header styles */

.nav {
	border-bottom: 3px solid transparent;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	position: fixed;
	z-index: 1;
	top: -50px;
	left: 0;
	width: 100%;
	transition: top 0.4s ease;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		> li {
			padding: 8px;
			display: inline-block;

			> a {
				text-decoration: none;
			}
		}
	}
}

.nav--bg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	background: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 1px 3px -0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	&:hover {
		box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.1),
			0 2px 4px -1px rgba(0, 0, 0, 0.06);
	}
}

.nav__icons {
	display: inline-block;
	padding: 5px;
}

.nav__icon--dot {
	margin-top: 4px;
	height: 12px;
	width: 12px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: 0 1px;
}

.nav__icon--red {
	background-color: #ed594a;
	margin-left: 5px;
}

.nav__icon--yellow {
	background-color: #fdd800;
}

.nav__icon--green {
	background-color: #5ac05a;
}

.nav__searchbar {
	width: 50%;
	border-radius: 3px;
	border: none;
	background-color: #f1f3f4;
	height: 25px;
	color: $text-colour;
	padding: 5px;
	font-size: 0.75rem;

	&:focus {
		outline: none;
	}
}

.nav__items {
	display: inline-block;

	.horizontal-rule {
		display: none;
	}
}

.nav__item {
	background-image: linear-gradient(
		to right,
		transparent 50%,
		$highlight-colour 50%
	);
	border-radius: 5px;
	background-size: 200%;
	transition: background-position 0.4s ease;
	margin: 0 8px;

	&:hover,
	&:active {
		background-position: -100%;
		font-weight: 500;
	}

	&:nth-of-type(3) {
		margin-right: 5px;
	}

	> a {
		font-family: 'Roboto', Arial, sans-serif;
		color: #6d6d6de6;
	}
}

.nav__bars {
	display: none;
}

/* Title styles */

.main-title--container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title--name {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 500;
	font-size: 5rem;
	color: inherit;
	text-align: center;
}

.typed-cursor {
	margin-bottom: 20px;
	margin-left: -8px;
	font-size: 5rem;
	font-family: 'Montserrat';
	font-weight: 400;
	color: inherit;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;

	@keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

.main-title__info {
	font-family: 'Inconsolata', monospace;
	color: inherit;
	text-align: center;
	margin-top: 50px;
}

.main-title__info--highlighted {
	display: inline-block;
	position: relative;
	bottom: 280px;
	background-color: $highlight-colour;
	padding: 0 4px;
	border-radius: 5px;
}

.main-title__info--divider {
	position: relative;
	bottom: 280px;
}

/* Responsive media queries */

/* Tablets */
@media (max-width: 768px) {
	/* Hamburger menu */
	.nav--bg {
		height: 38px;
		transition: all 0.6s ease;
		align-items: normal;
	}

	.nav__searchbar {
		width: 70%;
		margin-top: 2px;
	}

	.nav__items {
		display: none;
	}

	.nav__bars {
		cursor: pointer;
		display: block;
		margin-top: 3px;
	}

	.nav__bar1,
	.nav__bar2,
	.nav__bar3 {
		display: inherit;
		width: 17px;
		height: 3px;
		background-color: #bebebe;
		border-radius: 5px;
		margin: 3px 15px;
		transition: 0.4s ease;
	}

	.animate .nav__bar1 {
		-webkit-transform: rotate(-45deg) translate(-4px, 4px);
		transform: rotate(-45deg) translate(-5px, 4px);
	}

	.animate .nav__bar2 {
		opacity: 0;
	}

	.animate .nav__bar3 {
		-webkit-transform: rotate(45deg) translate(-4px, -4px);
		transform: rotate(45deg) translate(-4px, -4px);
	}

	/* Nav dropdown and links */
	.nav.mobileNav {
		.nav--bg {
			height: 100vh;
			padding-top: 10px;
			align-items: flex-start;
			overflow: scroll;
		}

		.nav__icon--dot {
			margin-top: 0;
		}

		.nav__items {
			display: block;
			position: absolute;
			width: 100%;
			text-align: center;

			-webkit-animation: 0.8s ease 0s normal forwards 1 navlinks-fadein;
			animation: 0.8s ease 0s normal forwards 1 navlinks-fadein;

			@keyframes navlinks-fadein {
				0% {
					opacity: 0;
				}
				65% {
					opacity: 0.3;
				}
				100% {
					opacity: 1;
				}
			}

			@-webkit-keyframes navlinks-fadein {
				0% {
					opacity: 0;
				}
				65% {
					opacity: 0.3;
				}
				100% {
					opacity: 1;
				}
			}

			.horizontal-rule {
				display: inline-block;
			}
		}

		.nav__item {
			display: block;
			margin: 7rem;
			font-size: 1.5rem;
			font-weight: 500;

			&:hover,
			&:active {
				background: $highlight-colour;
				border-radius: 5px;
			}
		}
	}

	body.mobileNav {
		overflow: hidden;
	}

	/* Main title and title info */
	.main-title--name {
		display: inline-block;
		font-size: 4.5rem;
		margin-top: -70px;
	}

	.typed-cursor {
		display: none;
	}

	.main-title__info {
		margin-top: 55px;

		> h2 {
			font-size: 1.3rem;
		}
	}
}

/* Mobile */
@media (max-width: 480px) {
	/* Navbar */
	.nav__icon--dot {
		height: 8px;
		width: 8px;
	}

	.nav__searchbar {
		font-size: 0.6rem;
		width: 75%;
	}

	/* Main title and title info */
	.main-title--name {
		margin-top: -300px;
		font-size: 3.5rem;
	}

	.main-title__info {
		margin-top: -85px;
	}

	.main-title__info--divider {
		display: block;
	}
}

/* Smaller mobile */
@media (max-width: 405px) {
	.nav__icons {
		display: none;
	}

	.nav__searchbar {
		width: 85%;
	}
}
