$text-colour: #3d3d3d;
$bg-colour: #f7f7f7;
$highlight-colour: #ffe900cc;
$highlight-colour-darkmode: #ffdd03;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Stops ScrollReveal flickering */
html.sr .load-hidden {
	visibility: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Body & Dark mode styles */

body {
	margin: 0;
	padding: 0;
	color: $text-colour;
	fill: $text-colour;
	background-color: $bg-colour;
	transition: all 0.5s ease;

	a {
		border-bottom: 4px solid $highlight-colour;
		border-radius: 2px;
		text-decoration: none;
		color: inherit;
	}

	h3 {
		background-color: $highlight-colour;
		border-radius: 5px;
		padding: 0 6px;
		display: inline-block;
		font-size: 2.5rem;
		font-weight: 700;
	}
}

body.dark {
	background-color: rgb(19, 19, 19);
	color: #fff;
	fill: #fff;

	.darkmode__moon {
		display: none;
	}

	.darkmode__sun {
		display: inherit;
		height: 100%;
	}

	.nav__item {
		background-image: linear-gradient(
			to right,
			transparent 50%,
			$highlight-colour-darkmode 50%
		);

		&:hover a,
		&:active a {
			color: #151515;
		}
	}

	.main-title__info--highlighted {
		background-color: $highlight-colour-darkmode;
		color: #151515;
	}

	.project__title {
		border-bottom: 1px solid white;
		background: #131313;
	}

	.project--front,
	.project--back {
		border: 2px solid rgba(255, 255, 255, 0.801);
	}

	.project__links--icon {
		color: white;

		&:hover {
			background-color: $highlight-colour-darkmode;
		}
	}

	.project__links--text {
		background-color: $highlight-colour-darkmode;
		color: #151515;
	}

	a {
		border-bottom: 4px solid $highlight-colour-darkmode;
	}

	h3 {
		background-color: $highlight-colour-darkmode;
		color: #151515;
	}
}

.darkmode {
	position: absolute;
	height: 20px;
	margin: 22px 24px;
	display: inline-block;
	cursor: pointer;

	.darkmode__moon {
		height: 100%;
		fill: inherit;
	}

	.darkmode__sun {
		display: none;
	}

	//Darkmode icon fade in on load
	-webkit-animation: 4s ease 0s normal forwards 1 grow;
	animation: 4s ease 0s normal forwards 1 grow;

	@keyframes grow {
		0% {
			transform: scale(0);
		}
		66% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}

	@-webkit-keyframes grow {
		0% {
			transform: scale(0);
		}
		66% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}

.nav--bg.dark {
	background: #323639;
	box-shadow: 0 1px 2px -0 rgba(255, 255, 255, 0.1),
		0 1px 1px 0 rgba(255, 255, 255, 0.06);

	&:hover {
		box-shadow: 0 6px 8px -2px rgba(255, 255, 255, 0.1),
			0 2px 4px -1px rgba(255, 255, 255, 0.06);
	}

	input {
		background-color: #282c2f;
		color: white;
	}

	a {
		color: white;
		border-bottom: none;
		box-shadow: none;
	}
}

/* Poor support 
@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(19, 19, 19);
		color: #fff;
		fill: #fff;
	}
}
@media (prefers-color-scheme: light) {
	body {
		color: $text-colour;
		fill: $text-colour;
		background-color: $bg-colour;
	}
}
*/

.horizontal-rule {
	text-align: center;
	margin: 8rem 0;

	span {
		height: 12px;
		width: 12px;
		margin: 0 2px;
		border-radius: 50%;
		display: inline-block;
		animation: jumpingDots 5.4s linear infinite;
	}

	@keyframes jumpingDots {
		25%,
		35%,
		100% {
			transform: translateY(0);
		}

		30% {
			transform: translateY(-20px);
		}
	}

	.red {
		background-color: #ed594a;
	}

	.yellow {
		background-color: #fdd800;
		animation-delay: 0.2s;
	}

	.green {
		background-color: #5ac05a;
		animation-delay: 0.4s;
	}

	//Horizontal rule between title and about section
	&:nth-of-type(2) {
		margin-top: -6.5rem;
	}
}

/* Header styles */

.nav {
	border-bottom: 3px solid transparent;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	position: fixed;
	z-index: 1;
	top: -50px;
	left: 0;
	width: 100%;
	transition: top 0.4s ease;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		> li {
			padding: 8px;
			display: inline-block;

			> a {
				text-decoration: none;
			}
		}
	}
}

.nav--bg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	background: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 1px 3px -0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	&:hover {
		box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.1),
			0 2px 4px -1px rgba(0, 0, 0, 0.06);
	}
}

.nav__icons {
	display: inline-block;
	padding: 5px;
}

.nav__icon--dot {
	margin-top: 4px;
	height: 12px;
	width: 12px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: 0 1px;
}

.nav__icon--red {
	background-color: #ed594a;
	margin-left: 5px;
}

.nav__icon--yellow {
	background-color: #fdd800;
}

.nav__icon--green {
	background-color: #5ac05a;
}

.nav__searchbar {
	width: 50%;
	border-radius: 3px;
	border: none;
	background-color: #f1f3f4;
	height: 25px;
	color: $text-colour;
	padding: 5px;
	font-size: 0.75rem;

	&:focus {
		outline: none;
	}
}

.nav__items {
	display: inline-block;

	.horizontal-rule {
		display: none;
	}
}

.nav__item {
	background-image: linear-gradient(
		to right,
		transparent 50%,
		$highlight-colour 50%
	);
	border-radius: 5px;
	background-size: 200%;
	transition: background-position 0.4s ease;
	margin: 0 8px;

	&:hover,
	&:active {
		background-position: -100%;
		font-weight: 500;
	}

	&:nth-of-type(3) {
		margin-right: 5px;
	}

	> a {
		font-family: 'Roboto', Arial, sans-serif;
		color: #6d6d6de6;
		background: none;
		box-shadow: none;
		border-bottom: unset;

		&:hover {
			box-shadow: none;
		}
	}
}

.nav__bars {
	display: none;
}

/* Title styles */

.main-title--container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title--name {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 500;
	font-size: 5rem;
	color: inherit;
	text-align: center;
}

.typed-cursor {
	margin-bottom: 20px;
	margin-left: -8px;
	font-size: 5rem;
	font-family: 'Montserrat';
	font-weight: 400;
	color: inherit;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;

	@keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

.main-title__info {
	font-family: 'Inconsolata', monospace;
	color: inherit;
	text-align: center;
	margin-top: 50px;
}

.main-title__info--highlighted {
	display: inline-block;
	position: relative;
	bottom: 280px;
	background-color: $highlight-colour;
	padding: 0 4px;
	border-radius: 5px;
	font-weight: 400;
}

.main-title__info--divider {
	position: relative;
	bottom: 280px;
}

/* About styles */
.about {
	max-width: 80%;
	margin: auto;
	font-family: 'Lato', sans-serif;
}

.about__title {
	margin: 0;
}

.about__info {
	> img {
		height: 250px;
		border-radius: 50%;
		display: block;
		margin: 1.5rem auto 3rem;
	}
}

.about__info__text {
	font-size: 1.15rem;
	margin: 0;
	margin-right: 20px;
}

/* Projects styles */
.projects {
	max-width: 80%;
	margin: auto;
	font-family: 'Inconsolata', sans-serif;
}

.projects__title {
	margin: 0 0 3rem;
	font-family: 'Lato', sans-serif;
}

.projects--grid {
	display: grid;
	grid-template: 1fr / repeat(2, 1fr); //4 projects = repeat(2, auto) / repeat(2, 1fr);
	grid-gap: 2rem;
	position: relative;
	height: 400px; //4 projects = 800px;
}

.project {
	cursor: pointer;
	position: relative;
}

.project__title {
	text-align: center;
	font-size: 1.5rem;
	border-bottom: 1px solid #6d6d6de6;
	padding: 15px;
	margin: 0;
	font-weight: bold;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	width: 100%;
	background: $bg-colour;
}

.project__info {
	margin: 1.5rem 3rem;
	font-size: 1.2rem;
	font-family: 'Inconsolata', sans-serif;
}

.project__thumbnail {
	max-width: 100%;
	min-height: 100%;
	display: block;
	margin: auto;
	object-fit: cover;
}

.project__links {
	list-style: none;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	li:first-of-type {
		margin-left: 3rem;
	}

	li {
		text-align: center;
		margin: 0 2.5rem;
	}

	.project__links--icon {
		background-color: unset;
		box-shadow: unset;
		margin: auto;
		display: inline-block;
		transition: 0.4s ease;
		border-bottom: unset;
		border-radius: 50%;

		&:hover {
			background-color: $highlight-colour;
			box-shadow: unset;
		}
	}

	.project__links--text {
		margin: 0.6rem 0;
		padding: 2px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		background: unset;
		box-shadow: unset;
		border: unset;
		display: block;
		background-color: $highlight-colour;
		border-radius: 5px;
	}
}

.project--front,
.project--back {
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	display: inline-block;
	transition: transform 0.8s ease;
	position: absolute;
	height: 100%;
}

.project--front {
	transform: perspective(600px) rotateY(0deg);
	overflow: hidden;
}

.project--back {
	transform: perspective(600px) rotateY(180deg);
	overflow: scroll;
}

.project--front--flip {
	transform: perspective(600px) rotateY(-180deg);
}

.project--back--flip {
	transform: perspective(600px) rotateY(0deg);
}

/* Contact Styles */
.contact {
	max-width: 80%;
	margin: auto;
	font-family: 'Lato', sans-serif;
}

.contact__title {
	margin: 0 0 3rem;
}

/* Responsive media queries */

/* Tablets */
@media (max-width: 768px) {
	/* Hamburger menu */
	.nav--bg {
		height: 38px;
		transition: all 0.4s ease;
		align-items: normal;
	}

	.nav__searchbar {
		width: 70%;
		margin-top: 2px;
	}

	.nav__items {
		display: none;
	}

	.nav__bars {
		cursor: pointer;
		display: block;
		margin-top: 3px;
	}

	.nav__bar1,
	.nav__bar2,
	.nav__bar3 {
		display: inherit;
		width: 17px;
		height: 3px;
		background-color: #bebebe;
		border-radius: 5px;
		margin: 3px 15px;
		transition: 0.4s ease;
	}

	.animate .nav__bar1 {
		-webkit-transform: rotate(-45deg) translate(-4px, 4px);
		transform: rotate(-45deg) translate(-5px, 4px);
	}

	.animate .nav__bar2 {
		opacity: 0;
	}

	.animate .nav__bar3 {
		-webkit-transform: rotate(45deg) translate(-4px, -4px);
		transform: rotate(45deg) translate(-4px, -4px);
	}

	/* Nav dropdown and links */
	.nav.mobileNav {
		overflow: hidden;

		.nav--bg {
			height: 100vh;
			padding-top: 10px;
			align-items: flex-start;
			overflow: hidden;
		}

		.nav__icon--dot {
			margin-top: 0;
		}

		.nav__items {
			display: block;
			position: absolute;
			width: 100%;
			text-align: center;

			-webkit-animation: 0.8s ease 0s normal forwards 1 navlinks-fadein;
			animation: 0.8s ease 0s normal forwards 1 navlinks-fadein;

			@keyframes navlinks-fadein {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}

			@-webkit-keyframes navlinks-fadein {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}

			.horizontal-rule {
				display: inline-block;
			}
		}

		.nav__item {
			display: block;
			margin: 6rem;
			font-size: 1.5rem;
			font-weight: 500;

			&:hover,
			&:active {
				background-color: $highlight-colour;
			}
		}

		.horizontal-rule {
			span {
				height: 10px;
				width: 10px;
			}
		}
	}

	/* Body styles */
	body.mobileNav {
		overflow: hidden;
		position: relative;
	}

	body.dark {
		.nav.mobileNav {
			.nav__item {
				&:hover,
				&:active {
					color: #151515;
					background-color: $highlight-colour-darkmode;
				}
			}
		}
	}

	/* Main title and title info */
	.main-title--name {
		display: inline-block;
		font-size: 4.5rem;
		margin-top: -70px;
	}

	.typed-cursor {
		display: none;
	}

	.main-title__info {
		margin-top: 55px;

		> h2 {
			font-size: 1.3rem;
		}
	}

	/* Projects */
	.projects--grid {
		grid-template: repeat(2, 1fr) / 1fr; //4 projects = repeat(4, 1fr) / 1fr;
		height: 800px; //4 projects = 1500px;
		grid-gap: 4rem;
	}

	.project--front,
	.project--back {
		width: 100%;
		height: 100%;
		overflow: scroll;
	}

	.project__thumbnail {
		display: block;
		margin: auto;
	}
}

/* Mobile */
@media (max-width: 480px) {
	/* Navbar */
	.nav__icon--dot {
		height: 8px;
		width: 8px;
	}

	.nav__searchbar {
		font-size: 0.6rem;
		width: 75%;
	}

	/* Main title and title info */
	.main-title--name {
		margin-top: -300px;
		font-size: 3.5rem;
	}

	.main-title__info {
		margin-top: -85px;
	}

	.main-title__info--divider {
		display: block;
	}

	/* About section */
	.about {
		text-align: center;
	}

	.about__title {
		margin: 2rem 0;
	}

	.about__info__text {
		margin: 30px 0 0;
	}

	/* Project section */
	.projects {
		text-align: center;
	}

	.projects--grid {
		text-align: left;
	}

	.project__thumbnail {
		min-height: 85%;
	}

	.project__links {
		li {
			margin: 0 1.5rem;
		}
	}
}

/* Smaller mobile */
@media (max-width: 405px) {
	.nav__icons {
		display: none;
	}

	.nav__searchbar {
		width: 85%;
	}
}
